# =========================
# Ambientes virtuais
# =========================
venv/
.env
.env.*

# =========================
# Diretórios de testes e dados temporários
# =========================
tests/
data_signatures_testes/

# =========================
# Logs e artefatos de execução
# =========================
modules/logs/
modules/shadowsec_maldet/logs/

# =========================
# Testes específicos
# =========================
modules/shadowsec_maldet/testes/

# =========================
# Módulos arquivados / experimentais
# =========================
modules/rootKit_hunter/

# =========================
# Arquivos gerados / resultados
# =========================
*.log
*.csv
*.zip
*.jsonl
*.json
*.txt
