data_signatures_testes/
venv/
tests/
modules/logs/
modules/shadowsec_maldet/testes/
*.csv
*.zip
*.jsonl
*.json
*.txt
*.log
modules/shadowsec_maldet/logs/
ShadowSec-Toolkit/modules/rootKit_hunter/
*.csv
*.zip
*.jsonl
*.json
*.txt
*.log


